.students-card{
    height: 310px;
    max-width: 250px;
    padding: 10px;
    border: 3px solid #ddd;
    border-radius: 10px;
    box-shadow: 5px 5px #888888;
    margin: 10px;
    background-color: aliceblue;
    color: cadetblue;
    font-weight: bold;
}

.picture{
    height: 150px;
    width: 130px;
    object-fit: cover;
}